doctype html
html
  head
    title Lista över böcker
  body

    include ../layout/header.jade
 
    h1 Alla böcker i biblioteket.
    ul
      each book in books
        li
          a(href='/book/' + book.id)= book.title
      

