html
  head
    title Miniprojekt node
  body
    h1 Minibok 
    form(action="/skapabok", method="POST")
      span.lable Titel
      input(type="text", name="titel") 
      span.lable Författare 
      input(type="text", name="författare") 
      span.lable År
      input(type="text", name="år") 
      span.lable Gengre 
      input(type="text", name="gengre") 
      span.lable Format 
      input(type="text", name="format") 
      span.lable Förlag 
      input(type="text", name="förlag") 
      span.lable Info
      input(type="text", name="info") 
      button Skapa bok 
