doctype html
html(lang="en")
head
 title Login  

body
  div.loginform
    h1 Logga in
    form(action="/skapabok" method="post" id='loginform')
      input(type="username" name="username" id="uname" placeholder="Användarnamn")
      input(type="password" name="password" id ="pword" placeholder="Lösenord")
      input(type="submit" class="btn btn-primary btn-block btn-blocklarge" value="Logga in")
      label(class="remember")
    
    